header{background-color: rgb(190, 190, 190);}
.perfil{ 
    height: 80px;
    width: 80px;
    border-radius: 50%;}
.search{
    
    margin-left: 10px;
    height: 50px;
width: 50px;
}

h1{ position: absolute;
    margin-left: 50%;}

.pessoinhas {width: 80px;
height: 80px;
margin-left: 55px;
}    

.amigo {
    width: 900px;
    height: 90px;
    background-color: grey;
border-radius: 50px;
margin: 2%;
}

.amigo1 {
    width: 900px;
    height: 90px;
    background-color: grey;
border-radius: 50px;
margin: 2%;
}

.amigo2 {
    width: 900px;
    height: 90px;
    background-color: grey;
border-radius: 50px;
margin: 2%;
}

.amigo3 {
    width: 900px;
    height: 90px;
    background-color: grey;
border-radius: 50px;
margin: 2%;
}

